#cart .btn {
    width: 400px;
    background: #ba1a1f;
    /*box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);*/
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(18.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

#cart .btn:hover {
    background-color: #4d84e2;
}
#customer form {
    display: flex;
    flex-direction: column;
    /*max-width: 400px;*/
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

#customer div {
    margin-bottom: 1rem;
}

#customer label {
    font-weight: bold;
}

/* input[type='text'],*/
/*input[type='email'] {*/
/*     background: var(--white);*/
/*     box-shadow: 0 0 0 1px var(--gray-400);*/
/*     border-radius: 8px;*/
/*     padding: 16px;*/
/*     font-size: 16px;*/
/*     font-weight: 400;*/
/*     line-height: 24px;*/
/*     letter-spacing: .005em;*/
     /*border:  #edf0f3;*/
/*}*/

#customer button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#customer button:hover {
    background-color: #0056b3;
}
.price {
    font-size: 18px;
    font-weight: 700;
    color: #cb1c22;
    line-height: normal;
}